.lmj {
    &-sales {
        z-index: 100;
        position: absolute;
        right: 0px;
        top: 84px;
        font-weight: 500;
        color: white;
        padding: 5px 10px;
        background-color: #31b572;
    }

    &-plant {
        &-list {
            list-style-type: none;
            padding: 32px;
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            max-width: 800px;
        }
        &-item {
            position: relative;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            text-transform: capitalize;

            &-cover {
                height: 110px;
                width: 110px;
                border-radius: 20px;
                border: solid 1px;
                margin-bottom: .5em;
            }

            &-name {
                display: flex;
                text-align: center;
            }

            & div {
                text-align: center;
            }
        }
    }

    &-category {
        &-list {
            list-style-type: none;
            padding: 32px;
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
        }

        &-item {
            margin-left : 1em;
            margin-right: 1em;
            
        }
    }
}

